html {
  height: 100%;
  box-sizing: border-box;
}

body {
    
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom:50px;
    
    background-color: white;
}
.footer{
    text-align: center;
    background-color: black;
    padding:10px;
    color:white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
}
.container{
    padding-top: 65px;
    position: relative;
   
    
}

.info{
    list-style: none;
}

.image2 {
  position: absolute;
  top: 30px;
  left: 70px;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 8%;
    left: 75%;
    width: 15%;
    
}
.bio-section {
    margin-bottom: 2px; /* Reduce the margin between Bio and the next section */
}

.professional-activities-section {
    margin-top: 0; /* Remove any top margin from Professional Activities */
}
text-transform: capitalize;

.collapsible-content {
    overflow: hidden;
    max-height: 3.6em; /* Adjust this value for more or fewer lines */
    transition: max-height 0.5s ease-out;
    position: relative;
}

.collapsible-content.expanded {
    max-height: 100%; /* Allows full content to be visible */
}

.see-more-btn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    text-decoration: underline;
}

